{:paths ["src/main/clojure"]

 :deps {ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}

 :aliases
 {:nrepl {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       cider/cider-nrepl {:mvn/version "0.28.3"}}
          :main-opts ["-m" "nrepl.cmdline"
                      "--middleware" "[cider.nrepl/cider-middleware]"]}}
 }
