/* Luhmann CSS */

:root {
  /* See https://tailwindcolor.com/ */
  --banner-bg:   #D4D4D4; /* true gray 300 */
  --banner-fg:   #525252; /* true gray 600 */
  --search-icon: #A3A3A3; /* true gray 400 */
}


/*------------- Asciidoctor Default Overrides -------------*/

body {
  font-family: "Source Serif 4", serif;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1, h2, h3, h4, h5, h6, #header > h1:only-child {
  border: none;
  color: black;
  font-family: "Source Serif 4", serif;
  font-weight: 500;
}

.admonitionblock td.content > .title, .audioblock > .title, .exampleblock > .title, .imageblock > .title, .listingblock > .title, .literalblock > .title, .stemblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, table.tableblock > .title, .verseblock > .title, .videoblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
  font-family: "Source Serif 4", serif;
}

#footer {
  background: none;
}

#footer-text {
  color: inherit;
}


/*------------- Luhmann Chrome -------------*/

/* Provided by Asciidoctor inline, but here also for the search page */
*, ::before, ::after {
  box-sizing: border-box;
}

.luh-outer {
  display: flex;
  flex-direction: column;
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.luh-header {
  background-color: var(--banner-bg);
  color: var(--banner-fg);

  display: flex;
  align-items: center;
  flex-direction: row;

  padding: 8px 12px;
}

.luh-logo {
  width: 24px;
  height: 24px;
  fill: var(--banner-fg);
  margin-right: 8px;
}

.luh-brand {
  font-size: 28px;
}

.luh-brand a {
  color: var(--banner-fg);
  text-decoration: none;
}

@media (max-width: 600px) {
  .luh-brand {
    display: none;
  }
}

.luh-spacer {
  flex: auto;
}

.luh-search {
  position: relative;
}

.luh-search input {
  background-color: white;
  color: var(--banner-fg);

  border: none;
  border-radius: 8px;

  font-family: "Source Serif 4", serif;
  font-size: 100%;

  padding: 6px 40px 6px 12px;
  width: 300px;
}

.luh-search svg {
  width: 24px;
  height: 24px;

  fill: var(--search-icon);

  position: absolute;
  right: 6px;
  top: 8px;
}

.luh-body {
  flex: auto;
  overflow: auto;
  padding: 0 16px;
}

.luh-inner {
  max-width: 900px;
  margin: 0 auto;
}

.searchResult {
  margin-bottom: 16px;
}

.searchResult a {
  display: block;
  font-weight: bold;
}

form { margin: 0; }
